

.file-upload {
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.file-upload button {
	display: inline-block;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 3px #999;
	overflow: hidden;
	height: 30px;
}

.file-upload button:hover {
    background-color: #3e8e41;
}

.file-upload button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

.file-upload label {
	line-height: 30px;
	display: inline-block;
	padding: 0 10px;
    vertical-align: top;
    white-space: nowrap;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #c4c2c5;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.file-upload label:hover, .file-upload input:hover+label {
    box-shadow: 0 1px #666;
    background: yellow;
}

.file-upload label:active, input:active+label {
    background: blue;
}

.file-upload input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
